@font-face {
  font-family: TimesNewRoman-Regular;
  src: url("./assets/fonts/TimesNewRoman-Regular.ttf") format("ttf");
}
:root {
  --primary-color: #2713c4;
  --primary-text-color: #171717;
  --gradient: linear-gradient(156.28deg, #f08f77 15.57%, #f7ab52 59.07%);
}
.manifesto {
  font-family: TimesNewRoman-Regular;
  padding-bottom: 100px;
  max-width: 100vw;
}
a {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.manifesto p {
  font-size: 1.3rem;
  color: var(--primary-text-color);
}
.manifesto .top-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}
.manifesto .content {
  /* margin-top: 300px; */
}

@media only screen and (max-width: 600px) {
  .manifesto .top-container {
    margin-bottom: 150px;
  }
}
